<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="client.js" defer></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  </head>

  <body>
    <nav1 class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
      <button
        type="button"
        class="btn btn-success"
        onclick="window.location.href = '/'"
      >
        Home
      </button>

      <button
        type="button"
        class="btn btn-success"
        onclick="window.location.href = '/finalProject'"
      >
        Final Project
      </button>

      <button
        type="button"
        class="btn btn-success"
        onclick="window.location.href = '/otherProjects'"
      >
        Other Projects
      </button>
      

      
    </nav1>

    <div class="jumbotron">
      <h1><b>VidCode Projects</b></h1>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/6500c3c01c4b07c89183ac405a795ecf_thumb.png"
            alt="Patrick"
          />
          <button class="btn-success btn1 sc-add-to-cart" onclick="vButtons()"
        data-name="Product" 
        data-price="50" 
        type="submit">
            Unit 1 Final Project
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/fc3b5abeae54e00d8621b12c85c188f8_thumb.png"
            alt="GrumpyCat"
          />
          <button class="btn-success btn1" onclick="vButtons1()">
            Unit 2 Final Project
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/db5bd753e44606be0dbcecdf9c3e9e75_thumb.png"
            alt="MovingFast"
          />
          <button class="btn-success btn1" onclick="vButtons2()">
            Unit 3 Final Project
          </button>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/5a0096f58245893d6b822495b4ae1bc5_thumb.png"
            alt="Panda"
          />
          <button class="btn-success btn1" onclick="vButtons3()">
            Unit 4 Final Project
          </button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/0dbd411ebd64ad96720dc8ad653ca5fd_thumb.png"
            alt="CookieClicker"
          />
          <button class="btn-success btn1" onclick="vButtons4()">
            Unit 5 Final Project
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <img
            src="https://s3.amazonaws.com/user-objects/5d6e6f96cef1a70003f34333/cf52d2d59854c625acc542b74d67e78f_thumb.png"
            alt="BlackIMG"
          />
          <button class="btn-success btn1" onclick="vButtons5()">
            Unit 6 Final Project
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
